body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  color: whitesmoke;
  background-color: black;
}

canvas {
  background-color: green;
}
